body {
    font-family: "Press Start 2P", system-ui;
    background-color: lightblue;
    color: black;
    max-width: 90%;
    margin: 5px 70px 5px 70px;
}

#toad-kit {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center; 
    max-width: 90%;  
}

h1 {
    font-size: 45px;
    text-align: left;
}

p {
    margin-left: 20px;

}



.key {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    width: 150px;
    height: auto;
    cursor: pointer;
    transition: transform 0.1s ease;
    margin: 2%;
}

.key.active {
    transform: scale(1.1);
    border-color: red;
    box-shadow: 0 0 10px red;
    color: red;
  }

.key:active,
.key:focus {
    outline: none;
    transform: scale(0.95);
}

.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
img {
    border-radius: 3%;
}