body {
    font-family: "Press Start 2P", system-ui;
    background-color: lightblue;
    color: black;
    max-width: 90%;
    margin: 5px 70px 5px 70px;
}

#toad-kit {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center; 
    max-width: 90%;  
}

h1 {
    font-size: 45px;
    text-align: left;
}

p {
    margin-left: 20px;

}



.key {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    width: 150px;
    height: auto;
    cursor: pointer;
    transition: transform 0.1s ease;
    margin: 2%;
}

.key.active {
    transform: scale(1.1);
    border-color: red;
    box-shadow: 0 0 10px red;
    color: red;
  }

.key:active,
.key:focus {
    outline: none;
    transform: scale(0.95);
}

.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
img {
    border-radius: 3%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        max-width: 590px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    body {
        max-width: 750px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    body {
        max-width: 980px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    body {
        max-width: 1100px;
    }
}